$darkGray: #333;
$darkGray-100: #3f3f3f;
$gray: #9e9e9e;
$gray-100: #707070;
$white: #fff;
$white-100: #ececec;
$white-200: #ccc;
$green: #2e8b57;
$green-100: #267247;
$blue: #1e90ff;
$blue-100: #1a7bdb;
$purple: #240449;
$purple-100: #190333;